html,
body,
#root,
.App {
    min-height: 100vh;
}

.content {
    margin-top: 20px;
}

.text-stroke {
    -webkit-text-stroke: .25px rgb(216, 201, 179);
    /* Adjust the width and color as needed */
    color: white;
    /* Set the text color */
}

.custom-shadow-white {
    text-shadow: 0 5px 0px rgba(255, 255, 255, 0.25);
    /* Blue shadow */
}

.scrollbar-light::-webkit-scrollbar {
    width: 8px;
    scrollbar-gutter: stable;
}

.scrollbar-light::-webkit-scrollbar-track {
    background: #555;
}

.scrollbar-light::-webkit-scrollbar-thumb {
    background-color: #888;
    // border-radius: 4px;
}

.dark .scrollbar-light::-webkit-scrollbar-track {
    background: #2d3748;
    /* Dark background */
}

.dark .scrollbar-light::-webkit-scrollbar-thumb {
    background-color: #4a5568;
    /* Dark scrollbar thumb */
}