
.unreal.engine {
    background-color: #000;
}

.vr {
    background-color: sienna;
}

.maya {
    background-color: teal;
}

.unity {
    background-color: #29333D;
}
.python {
    background-color: #3A71A0;
}
.vuejs{
    background-color: #3FB984;
}
.nodejs{
    background-color: #3E863D;
}
.docker{
    background-color: #006BC0;
}
.kubernetes{
    background-color: #326CE5;
}
.gitlab{
    background-color: #DB4128;
}
.blender{
    background-color: #EB7700;
}
.html{
    background-color: #E64C18;
}
.css{
    background-color: #0874BC;
}
.javascript{
    background-color: #F99F2F;
    color: #000;
}
.typescript{
    background-color: #377CC8;
}
.scss{
    background-color: #CE6B9C;
}
.prisma{
    background-color: #00BFA5;
}
.postgresql{
    background-color: #396C94;
}
.playstation{
    background-color: #0874D2;
}
.cuda{
    background-color: #84BE08;
}
.react{
    background-color: #00DAFB;
    color: #000;
}
.pytorch{
    background-color: #EF4B28;
}
.electron{
    background-color: #74BFCC;
}
.cplusplus{
    background-color: #00599C;
}
.csharp{
    background-color: #360092;
}
.websockets{
    background-color: #FFD43B;
    color: #000;
}
.github{
    background-color: #5C6BC0;
}
.sdl{
    background-color: #1E3B5B;
}